<% if flash[:new_user] %>
  <p> <%= flash[:new_user] %> </p>
<% end %>
<% if flash[:notice] %>
  <p> <%= flash[:notice] %> </p>
<% end %>
<div class='navbar'>
  <%= erb :'partials/nav'%>
</div>
<div class="horizontalLine"></div>
<% if flash[:bought] %>
  <div class="validation"><%= flash[:bought] %>
  </div>
<% end %>
<div class='shop-wrap'>
     <% @products.each do |product| %>
        <div class='item'>
          <div class="name-price-wrap">
            <div class='product-name'><%= product.name %></div>
            <div class='product-price'>$<%= product.price %></div>
          </div>
          <div class='product-image'>Product Image Here</div>
          <div class='shop-button-group'>
            <form action='/<%= product.id%>' method='get'>
            <input class="shop-button"type="submit"value="Details">
            </form>
            <form action='/buy' method='post'>
            <input type="hidden" name="product_id" value=<%= product.id %>>
            <input class="shop-button" type="submit"value="Buy">
            </form>
          </div>
      </div>
      <% end %>
  </div>
